/*HEADER*/

$headerFamily: 'Montserrat', sans-serif;
$headerSize: 13px;
$index-main-titulobig-XS: 30px;
$index-main-parrafo-XS: 20px;
$index-main-titulosmall-XS: 25px;
$index-main-titulo-XS: 30px;
$index-main-titulo-parrafo-XS: 15px;
$index-main-redesbig: 20px;
$index-main-redessmall: 13px;
$index-main-trending: 20px;
$index-main-principales-titulo-XS: 20px; 
$index-main-principales-parrafo-XS: 14px;
$about-about: 40px;
$about-aboutlittle: 13px;
$about-title-fs: 25px;
$about-parrafo-fs: 17px;
$about-nombre-fs: 19px;
$about-puesto-fs: 15px;
$list-h2-fs: 30px;
$list-h3-fs: 18px;
$list-h4-fs: 13px;
$list-p-fs: 15px;
$list-h2S-fs: 35px;
$list-h3S-fs: 23px;
$list-h4S-fs: 18px;
$list-pS-fs: 20px;
$contacto-h2-fs: 20px;
$contacto-h3-fs: 13px;
$post-fs: 20px;