/*HEADER*/

$headerFamily: 'Montserrat', sans-serif;
$headerSize: 13px;
$index-main-titulobig-XS: 30px;
$index-main-parrafo-XS: 20px;
$index-main-titulosmall-XS: 25px;
$index-main-titulo-XS: 30px;
$index-main-titulo-parrafo-XS: 15px;
$index-main-redesbig: 20px;
$index-main-redessmall: 13px;
$index-main-trending: 20px;
$index-main-principales-titulo-XS: 20px; 
$index-main-principales-parrafo-XS: 14px;
$about-about: 40px;
$about-aboutlittle: 13px;