/*HEADER*/

$header-section-left: 20px;
$header-section-right: 18px;
$header-nav-menu-mg: 5px;
$body-XS-mg: 15px;
$header-padding: 20px;
$body-S-mg: 30px;
$body-M-mg: 40px;
$body-L-mg: 50px;
$body-XL-mg: 100px;