/*DISPOSITIVOS CELULARES VERTICALES*/

@media only screen and (max-width: 600px) {

body{
    background-color: $bcg-l;

    header{
    #header__section{
        display: none;
    }
    }

    main{
        @include margin($body-XS-mg, $body-XS-mg, $body-XS-mg, $body-XS-mg);
        position: absolute;
        top: $header-hg;
        width: calc(100% - 30px);
        z-index: -1;
        box-sizing: border-box;
        #index__main__section1{
            @include display(flex, row wrap, center, flex-start);
            background-color: $headerBorder-l;
            border-radius: 5%;
            box-sizing: border-box;
            #index__main__section1__btm{
                @include margin(5px, 5px, 5px, 20px);
            }
            #index__main__section1__crs{
                @include padding(5px, 5px, 5px, 5px);
                @include font($headerFont-l, $headerFamily, $headerSize, bolder);
            }
        }
        #index__main__section2{
            @include margin($body-XS-mg, 0, 0, 0);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(14, auto);
            grid-template-areas: "index__main1 index__main1 index__main1" "index__main2 index__main2 index__main2" "index__main3__1 index__main3__1 index__main3__1" "index__main3__2 index__main3__2 index__main3__2" "index__titulo__principales index__titulo__principales index__titulo__principales" "index__principales__1 index__principales__1 index__principales__1" "index__principales__2 index__principales__2 index__principales__2" "index__redes__fb index__redes__ig index__redes__yt" "index__titulo__trending index__titulo__trending index__titulo__trending" "index__trending__musica index__trending__musica index__trending__musica" "index__trending__teatro index__trending__teatro index__trending__teatro" "index__trending__cine index__trending__cine index__trending__cine" "index__trending__literatura index__trending__literatura index__trending__literatura" "index__titulo__reciente index__titulo__reciente index__titulo__reciente";
            grid-column-gap: $body-XS-mg;
            grid-row-gap: $body-XS-mg;
            @each $secc in main1, main2, main3__1, main3__2, titulo__principales, principales__1, principales__2, redes__fb, redes__ig, redes__yt, titulo__trending, trending__musica, trending__teatro, trending__cine, trending__literatura, titulo__reciente{
                #index__main__section2__#{$secc}{
                    grid-area: index__#{$secc};
                }
            }
            #index__main__section2__main1{
                @include sizes($section2-main1-hgXS, auto);
                @include display(flex, column nowrap, flex-start, flex-end);
                @include padding($body-XS-mg, $body-XS-mg, $body-XS-mg, $body-XS-mg);
                border-radius: 5%;
                h2{
                    @include margin($body-XS-mg, 0, 0, 0);
                    @include font($headerNavbcg, $headerFamily, $index-main-titulobig-XS, bolder);
                }
                h3{
                    @include margin($body-XS-mg, 0, $body-XS-mg, 0);
                    @include font($headerNavbcg, $headerFamily, $index-main-parrafo-XS, normal);
                }
                h4{
                    display: none;
                }
            }
            #index__main__section2__main2, #index__main__section2__main3__1, #index__main__section2__main3__2{
                @include sizes($section2-main2-hgXS, calc(100% - 30px));
                @include display(flex, column nowrap, flex-start, flex-end);
                @include padding($body-XS-mg, $body-XS-mg, $body-XS-mg, $body-XS-mg);
                border-radius: 5%;
                h2{
                    @include margin($body-XS-mg, 0, 0, 0);
                    @include font($headerNavbcg, $headerFamily, $index-main-titulosmall-XS, bolder);
                }
                h4{
                    display: none;
                }
            }
            .index__main__section2__titulo{
                @include display(flex, column nowrap, flex-start, center);
                @include margin($body-XS-mg, 0, 0, 0);
                h2{
                    @include font(black, $headerFamily, $index-main-titulo-XS, bolder);
                    @include display(flex, row nowrap, flex-start, center);
                    div{
                        @include sizes($header-nav-menu, $header-nav-menu);
                        display: inline-block;
                        @include margin(0, 0, 0, $body-XS-mg);
                    }
                }
                h3{
                    @include font($headerRight-l, $headerFamily, $index-main-titulo-parrafo-XS, bolder);
                    @include margin(5px, 0, 0, 0);
                }
            }
            .index__main__section2__principales{
                @include display(flex, column nowrap, flex-start, center);
                @include margin($body-XS-mg, 0, 0, 0);
                div{
                    @include sizes($section2-main2-hgXS, calc(100% - 30px));
                    @include display(flex, column nowrap, flex-start, flex-end);
                    @include padding($body-XS-mg, $body-XS-mg, $body-XS-mg, $body-XS-mg);
                    border-radius: 5%;
                }
                h2{
                    @include margin($body-XS-mg, 0, 0, 0);
                    @include font($headerFont-l, $headerFamily, $index-main-principales-titulo-XS, bolder);
                }
                h3{
                    @include margin(5px, 0, 0, 0);
                    @include font($headerFont-l, $headerFamily, $index-main-principales-parrafo-XS, bolder);
                }
                h4{
                    display: none;
                }
            }
            .index__main__section2__redes{
                @include display(flex, column nowrap, center, center);
                @include sizes($section2-redes-hgXS, 100%);
                @include margin($body-XS-mg, 0, 0, 0);
                border-radius: 5%;
                div{
                    @include sizes($header-section-img, $header-section-img);
                    border-radius: 15%;
                }
                h5{
                    @include margin(5px, 0, 0, 0);
                    @include font($headerNavbcg, $headerFamily, $index-main-redesbig, bolder);
                }
                h6{
                    @include margin(5px, 0, 0, 0);
                    @include font($headerNavbcg, $headerFamily, $index-main-redessmall, normal);
                }
            }
            .index__main__section2__trending{
                @include display(flex, column nowrap, center, center);
                @include sizes($section2-trending, 100%);
                @include margin(0, 0, 0, 0);
                @include font($headerNavbcg, $headerFamily, $index-main-redesbig, bolder);
                border-radius: 5%;
            }
            @each $secc in main1, main2, main3__1, main3__2, titulo__principales__div, principales__1__div, principales__2__div, redes__fb, redes__ig, redes__yt, trending__musica, trending__teatro, trending__cine, trending__literatura, titulo__reciente__div{
                #index__main__section2__#{$secc}{
                    @include bcg-img(url("../img/index/#{$secc}.jpg"), center, cover, no-repeat);
                }
            }
            @each $secc in titulo__principales__div, titulo__reciente__div, redes__fb__div, redes__ig__div, redes__yt__div{
                #index__main__section2__#{$secc}{
                    @include bcg-img(url("../img/index/#{$secc}.svg"), center, cover, no-repeat);
                }
            }
            @each $secc in redes__fb__div, redes__ig__div, redes__yt__div{
                #index__main__section2__#{$secc}{
                    background-color: red;
                }
            }
        }
    }
}

}



/*DISPOSITIVOS CELULARES HORIZONTALES*/

@media only screen and (min-width: 600px) {

body{
    background-color: $bcg-l;

    header{
        #header__section{
            display: none;
        }
    }

    main{
        @include margin($body-XS-mg, $body-S-mg, $body-XS-mg, $body-S-mg);
        position: absolute;
        top: $header-hg;
        width: calc(100% - 60px);
        z-index: -1;
        box-sizing: border-box;
        #index__main__section1{
            @include display(flex, row wrap, center, flex-start);
            background-color: $headerBorder-l;
            border-radius: 5%;
            z-index: 0;
            #index__main__section1__btm{
                @include margin(5px, 5px, 5px, 20px);
            }
            #index__main__section1__crs{
                @include font($headerFont-l, $headerFamily, $headerSize, bolder);
            }
        }
        #index__main__section2{
            @include margin($body-S-mg, 0, 0, 0);
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: repeat(14, auto);
            grid-template-areas: "index__main1 index__main1 index__main1" "index__main2 index__main2 index__main2" "index__main3__1 index__main3__1 index__main3__1" "index__main3__2 index__main3__2 index__main3__2" "index__titulo__principales index__titulo__principales index__titulo__principales" "index__principales__1 index__principales__1 index__principales__1" "index__principales__2 index__principales__2 index__principales__2" "index__redes__fb index__redes__ig index__redes__yt" "index__titulo__trending index__titulo__trending index__titulo__trending" "index__trending__musica index__trending__musica index__trending__musica" "index__trending__teatro index__trending__teatro index__trending__teatro" "index__trending__cine index__trending__cine index__trending__cine" "index__trending__literatura index__trending__literatura index__trending__literatura" "index__titulo__reciente index__titulo__reciente index__titulo__reciente";
            grid-column-gap: $body-S-mg;
            grid-row-gap: $body-S-mg;
            @each $secc in main1, main2, main3__1, main3__2, titulo__principales, principales__1, principales__2, redes__fb, redes__ig, redes__yt, titulo__trending, trending__musica, trending__teatro, trending__cine, trending__literatura, titulo__reciente{
                #index__main__section2__#{$secc}{
                    grid-area: index__#{$secc};
                }
            }
            #index__main__section2__main1{
                @include sizes($section2-main1-hgXS, auto);
                @include display(flex, column nowrap, flex-start, flex-end);
                @include padding($body-S-mg, $body-S-mg, $body-S-mg, $body-S-mg);
                border-radius: 5%;
                h2{
                    @include margin($body-S-mg, 0, 0, 0);
                    @include font($headerNavbcg, $headerFamily, $index-main-titulobig-XS, bolder);
                }
                h3{
                    @include margin($body-S-mg, 0, $body-S-mg, 0);
                    @include font($headerNavbcg, $headerFamily, $index-main-parrafo-XS, normal);
                }
                h4{
                    display: none;
                }
            }
            #index__main__section2__main2, #index__main__section2__main3__1, #index__main__section2__main3__2{
                @include sizes($section2-main2-hgXS, calc(100% - 60px));
                @include display(flex, column nowrap, flex-start, flex-end);
                @include padding($body-S-mg, $body-S-mg, $body-S-mg, $body-S-mg);
                border-radius: 5%;
                h2{
                    @include margin($body-S-mg, 0, 0, 0);
                    @include font($headerNavbcg, $headerFamily, $index-main-titulosmall-XS, bolder);
                }
                h4{
                    display: none;
                }
            }
            .index__main__section2__titulo{
                @include display(flex, column nowrap, flex-start, center);
                @include margin($body-S-mg, 0, 0, 0);
                h2{
                    @include font(black, $headerFamily, $index-main-titulo-XS, bolder);
                    @include display(flex, row nowrap, flex-start, center);
                    div{
                        @include sizes($header-nav-menu, $header-nav-menu);
                        display: inline-block;
                        @include margin(0, 0, 0, $body-S-mg);
                    }
                }
                h3{
                    @include font($headerRight-l, $headerFamily, $index-main-titulo-parrafo-XS, bolder);
                    @include margin(5px, 0, 0, 0);
                }
            }
            .index__main__section2__principales{
                @include display(flex, column nowrap, flex-start, center);
                @include margin($body-XS-mg, 0, 0, 0);
                div{
                    @include sizes($section2-main2-hgXS, calc(100% - 60px));
                    @include display(flex, column nowrap, flex-start, flex-end);
                    @include padding($body-S-mg, $body-S-mg, $body-S-mg, $body-S-mg);
                    border-radius: 5%;
                }
                h2{
                    @include margin($body-S-mg, 0, 0, 0);
                    @include font($headerFont-l, $headerFamily, $index-main-principales-titulo-XS, bolder);
                }
                h3{
                    @include margin(5px, 0, 0, 0);
                    @include font($headerFont-l, $headerFamily, $index-main-principales-parrafo-XS, bolder);
                }
                h4{
                    display: none;
                }
            }
            .index__main__section2__redes{
                @include display(flex, column nowrap, center, center);
                @include sizes($section2-redes-hgXS, 100%);
                @include margin($body-S-mg, 0, 0, 0);
                border-radius: 5%;
                div{
                    @include sizes($header-section-img, $header-section-img);
                    border-radius: 15%;
                }
                h5{
                    @include margin(5px, 0, 0, 0);
                    @include font($headerNavbcg, $headerFamily, $index-main-redesbig, bolder);
                }
                h6{
                    @include margin(5px, 0, 0, 0);
                    @include font($headerNavbcg, $headerFamily, $index-main-redessmall, normal);
                }
            }
            .index__main__section2__trending{
                @include display(flex, column nowrap, center, center);
                @include sizes($section2-trending, 100%);
                @include margin(0, 0, 0, 0);
                @include font($headerNavbcg, $headerFamily, $index-main-redesbig, bolder);
                border-radius: 5%;
            }
            @each $secc in main1, main2, main3__1, main3__2, titulo__principales__div, principales__1__div, principales__2__div, redes__fb, redes__ig, redes__yt, trending__musica, trending__teatro, trending__cine, trending__literatura, titulo__reciente__div{
                #index__main__section2__#{$secc}{
                    @include bcg-img(url("../img/index/#{$secc}.jpg"), center, cover, no-repeat);
                }
            }
            @each $secc in titulo__principales__div, titulo__reciente__div, redes__fb__div, redes__ig__div, redes__yt__div{
                #index__main__section2__#{$secc}{
                    @include bcg-img(url("../img/index/#{$secc}.svg"), center, cover, no-repeat);
                }
            }
            @each $secc in redes__fb__div, redes__ig__div, redes__yt__div{
                #index__main__section2__#{$secc}{
                    background-color: red;
                }
            }
        }
    }
}

}



/*TABLETS VERTICALES*/

@media only screen and (min-width: 768px) {

body{

    header{
    #header__section{
        display: none;
    }
    }

    main{
        @include margin($body-XS-mg, $body-M-mg, $body-XS-mg, $body-M-mg);
        top: $header-hgL;
        width: calc(100% - 80px);
    }
}

}



/*TABLETS HORIZONTALES*/

@media only screen and (min-width: 992px) {

body{

    header{
        #header__section{
            display: block !important;
        }
    }

    main{
        @include margin($body-XS-mg, $body-L-mg, $body-XS-mg, $body-L-mg);
        width: calc(100% - 100px);
    }
    #index__main{
        top: $header-hg+$header-hgL;
    }
}

}


/*PC*/

@media only screen and (min-width: 1200px) {

body{

    main{
        @include margin($body-XS-mg, $body-XL-mg, $body-XS-mg, $body-XL-mg);
        width: calc(100% - 200px);
    }
}

}