/*SECCIONES*/

$header-hg: 65px;
$header-section-img: 18px;
$header-section-img1-hg: 13px;
$header-section-img1-wd: 60px;
$header-section-img2-hg: 30px;
$header-section-img2-wd: 30px;
$header-nav-menu: 35px;
$header-logo-wd: 140px;
$header-submenu-hg: 55px;
$header-nav-input-lupa-hg: 40px;
$header-nav-input-lupa-wd:120px;
$header-nav-input-lupaL-wd:240px;
$header-nav-input-button-wd: 70px;
$header-hgL: 100px;
$header-logo-hgL: 60px;
$header-logo-wdL: 230px;
$section2-main1-hgXS: 400px;
$section2-main2-hgXS: 200px;
$section2-redes-hgXS: 100px;
$section2-trending: 50px; 
$about-section1: 200px;
